<div class="row">
  <div class="span">
    <%= form_for(@area) do |f| %>
      <% if @area.errors.any? %>
        <div id="error_explanation">
          <h2> <%= "#{pluralize(@area.errors.count, "error")} prohibited this area from being saved:" %> </h2>
          <ul>
            <%= @area.errors.full_messages.each do |msg|  %>
              <li> <%= msg %> </li>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="span">
          <%= f.label 'Name' %>
          <%= f.text_field :name %>
          </div>
        </div>
      <div class="row">
        <div class="span">
          <%= f.label 'Description' %>
          <%= f.text_area :description, :class => 'span9' %>
        </div>
      </div>
      <div class="row">
        <div class="span">
          <%= f.submit  %>
        </div>
      </div>
    <% end %>
  </div>
</div>