%h1= @gallery.name
%p{:id => "notice"}= notice
.row
  %ul.thumbnails
    - @photos.each do |photo|
      %li.span2_5
        .thumbnail.yoxview
          = link_to image_tag(photo.image.thumb.url), photo.image_url, :class => 'thumbnail', :rel => 'gallery'
          - if admin_signed_in?
            = link_to 'Сделать главной', make_photo_main_path(photo.id, photo.gallery_id) 
            = link_to 'Destroy', gallery_photo_path(@gallery, photo), confirm: 'Are you sure?', method: :delete
.row
  .span
    = link_to 'Добавить фото', new_gallery_photo_path(@gallery) if admin_signed_in?
= link_to 'Назад', galleries_path
