<%= content_for(:title){t :title_gallery} %>
<h1><%= t :our_weddings %></h1>
<div class="row">
  <ul class="thumbnails">
    <% @galleries.each_with_index do |gallery, i| %>
      <li class="span3">
        <div class="thumbnail">
          <%= link_to image_tag(gallery.main_photo.image.thumb.url), gallery_photos_path(gallery), :class => 'thumbnail' %>
          <h5><%= gallery.name %></h5>
          <%= link_to 'Edit', edit_gallery_path(gallery) if admin_signed_in?%>
          <%= link_to 'Destroy', gallery, confirm: 'Are you sure?', method: :delete if admin_signed_in?%>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<% if admin_signed_in? %>
  <div class="row">
    <div class="span">
      <%= link_to 'New Gallery', new_gallery_path %>
    </div>
  </div>
<% end %>