<%#coding: utf-8 %>
<!DOCTYPE html>
<html>
  <head>
    <title><%=  yield :title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application", 'swfobject' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <meta name="description" content="<%= t :description %>"/>
    <meta name="keywords" content="<%= t :keywords %>"/>
    <meta name="author" content="<%= t :author %>"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- /= render :partial => '/layouts/yoxview' -->
  </head>
  <body>
    <div class="stripe">
    </div>
    <div class="container">
      <div class="row">
        <div class="span2_5">
          <div class="row">
            <%= link_to image_tag("logo.png"), welcome_path %>
          </div>
          <div class="row main_menu" align="center">
            <p><%=  link_to t(:main), welcome_path %></p>
            <p><%=  link_to t(:areas), areas_path %></p>
            <p><%=  link_to t(:gallery), galleries_path %></p>
            <p><%=  link_to t(:partners), partners_path %></p>
            <p><%=  link_to t(:contacts), contacts_path %></p>
          </div>
        </div>
        <div class="span9_5">
          <div class="row">
            <div class="span" style="margin-left: 100px;" align="center">
              <%= image_tag 'kar_text3.png' %>
            </div>
          </div>
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
      <div id="yoxview">
      </div>
    </div>
  </body>
</html>