<!DOCTYPE html>
<html>
  <head>
    <title><%=  yield :title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <meta name="description" content="<%= t :description %>"/>
    <meta name="keywords" content="<%= t :keywords %>"/>
    <meta name="author" content="<%= t :author %>"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= render :partial => '/layouts/fancybox'  %>
    <%= render :partial => '/layouts/ganalytics' %>
  </head>
  <body>
    <div class="container">
      <div class="row frame" style="padding: 15px;">
        <div class="span2_5">
          <div class="row">
            <%= link_to image_tag("logo2.png"), welcome_path %>
          </div>
          <div class="row main_menu" align="center">
            <div class="oval"><p><%=  link_to t(:main), welcome_path %></p></div>
            <div class="oval"><p><%=  link_to t(:areas), areas_path %></p></div>
            <div class="oval"><p><%=  link_to t(:gallery), galleries_path %></p></div>
            <div class="oval"><p><%=  link_to t(:partners), partners_path %></p></div>
            <div class="oval"><p><%=  link_to t(:contacts), contacts_path %></p></div>
          </div>
        </div>
        <div class="span9">
          <div class="row">
            <div class="span" style="margin-left: 80px;" align="center">
              <%= link_to image_tag('kar_text_last.png'), welcome_path %>
            </div>
          </div>
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span" style="margin-bottom: 20px; margin-top: 10px">
          <%= image_tag('slogan.png') %>
        </div>
      </div>
      <!-- <div id="yoxview">
            </div> -->
    </div>
  </body>
</html>